//COLORS
//--------------------------------------------------------
$light-blue = rgba(60, 141, 188, 1)
$red = rgba(221, 75, 57, 1)
$green = rgba(0, 166, 90, 1)
$aqua = rgba(0, 192, 239, 1)
$yellow = rgba(243, 156, 18, 1)
$blue = rgba(0, 115, 183, 1)
$navy = rgba(0, 31, 63, 1)
$teal = rgba(57, 204, 204, 1)
$olive = rgba(61, 153, 112, 1)
$lime = rgba(1, 255, 112, 1)
$orange = rgba(255, 133, 27, 1)
$fuchsia = rgba(240, 18, 190, 1)
$purple = rgba(96, 92, 168, 1)
$maroon = rgba(216, 27, 96, 1)
$black = rgba(17, 17, 17, 1)
$gray = rgba(210, 214, 222, 1)

//LAYOUT
//--------------------------------------------------------
//Side bar and logo width
$sidebar-width = 230px
//When the logo should go to the top of the screen
$screen-header-collapse = $screen-xs-max
//Link colors (Aka: <a> tags)
$link-color = $light-blue
$link-hover-color = lighten($link-color, 15%)
//Body background (Affects main content background only)
$body-bg = rgb(236, 240, 245, 1)

//SIDEBAR SKINS
//--------------------------------------------------------
//Dark sidebar
$sidebar-dark-bg = rgb(34, 45, 50, 1)
$sidebar-dark-hover-bg = darken($sidebar-dark-bg, 2%)
$sidebar-dark-color = lighten($sidebar-dark-bg, 60%)
$sidebar-dark-hover-color = rgb(255, 255, 255, 1)
$sidebar-dark-submenu-bg = lighten($sidebar-dark-bg, 5%)
$sidebar-dark-submenu-color = lighten($sidebar-dark-submenu-bg, 40%)
$sidebar-dark-submenu-hover-color = rgb(255, 255, 255, 1)

//Light sidebar
$sidebar-light-bg = rgb(249, 250, 252, 1)
$sidebar-light-hover-bg = lighten(rgb(240, 240, 241, 1), 1.5%)
$sidebar-light-color = rgb(68, 68, 68, 1)
$sidebar-light-hover-color = rgb(0, 0, 0, 1)
$sidebar-light-submenu-bg = $sidebar-light-hover-bg
$sidebar-light-submenu-color = rgb(119, 119, 119, 1)
$sidebar-light-submenu-hover-color = rgb(0, 0, 0, 1)

//BOXES
//--------------------------------------------------------
$box-border-color = rgb(244, 244, 244, 1)
$box-border-radius = 3px
$box-footer-bg = rgb(255, 255, 255, 1)
$box-boxshadow = 0 1px 1px rgba(0, 0, 0, 0.1)
$box-padding = 10px
//Box variants
$box-default-border-top-color = rgb(210, 214, 222, 1)

//FORMS
//--------------------------------------------------------
$input-radius = 0


//BUTTONS
//--------------------------------------------------------
$btn-boxshadow = none
//Border radius for non flat buttons
$btn-border-radius = 3px

//TRANSITIONS SETTINGS
//--------------------------------------------------------
//Transition global options
$transition-speed = 0.3s
$transition-fn = ease-in-out
